@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800');

* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
}

/** Hidden Form Labels **/
.hidden-label {
    display: none !important;
}

/** Social Media Icons Hidden Text **/
.sr-only {
    font-size: 0;
    height: 1px;
    overflow: hidden;
    display: block;
}

/** Sections Title & Subtitle **/
.section-main-intro {
    letter-spacing: 0.5px;
    text-align: center;
}

.section-main-title {
    font-size: 50px;
}

.section-subtitle {
    font-size: 20px;
    font-weight: 500;
}

/** -----[ Dark Mode Toggle ]----- **/

/** Dark Mode Button **/
.toggle-container {
    position: absolute;
    z-index: 100;
    top: 6em;
    right: 2em;
}

/** Colour Variables (Light Mode) **/
html {
    --bg: #f3f2ef;
    --bg-panel: #fff;
    --color-headings: #4B76E5;
    --color-buttons: #fff;
    --color-hover: #3CBED0;
    --color-danger: #DB3545;
    --color-dhover: #C52F3E;
    --color-text: #000;
}

/** Colour Variables (Dark Mode) **/
html[data-theme='dark'] {
    --bg: #000;
    --bg-panel: #4C4C4C;
    --color-headings: #6E91EA;
    --color-buttons: #000;
    --color-hover: #62CBD9;
    --color-danger: #E25D6A;
    --color-dhover: #DB3545;
    --color-text: #fff;
}

/** Toggle Input Hidden **/
.toggle-input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

/** Toggle Label Styling (Back) **/
.toggle-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: #4C4C4C;
    float: right;
    border-radius: 100px;
    position: relative;
}

/** Toggle Label Styling (Front) **/
.toggle-label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

/** Toggle Switch Animation **/
.toggle-input:checked+label {
    background: var(--color-headings);
}

.toggle-input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.toggle-label:active:after {
    width: 45px;
}

/** Toggle Transition Property **/
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

/* ------------------------------------[ HEADER SECTION √ ]-------------------------------------- */

/** NavBar Background Color **/
.navbar-dark {
    background: #000;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/** Brand (Produck Logo) **/
.navbar-brand {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 25px !important;
    font-weight: 600;
    margin: 2px 0 0;
}

/** Navigation Main Menu Styling **/
.nav-link {
    font-size: 17px;
    margin: 5px 5px 2px;
    text-align: center;
    display: flex;
}

/** Navigation Main Menu Hover Over Effect **/
.nav-link:hover {
    color: #fff !important;
}

/** Toggler Button Styling (Responsiveness) **/
.navbar-toggler-icon {
    font-size: 18px;
    height: initial;
}

/** -----[ Dropdown Menu Styling ]----- **/

/** Dropdown Button Styling **/
.menu-dropbtn {
    background: none;
    border: none;
}

/** Dropdown Content Position **/
.menu-dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Container (Hidden by Default) */
.menu-dropdown-content {
    display: none;
    position: absolute;
    background: #000;
    min-width: 165px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
}

/* Links inside the dropdown */
.menu-dropdown-content a {
    padding: 12px 16px;
    text-decoration: none !important;
    display: block;
    color: #fff;
    font-size: 15px;
}

/* Change color of dropdown links on hover */
.menu-dropdown-content a:hover {
    background: #fff;
    color: #000;
    border-radius: 8px;
}

/* Show the dropdown menu on hover */
.menu-dropdown:hover .menu-dropdown-content {
    display: block;
}


/* ------------------------------------[ HERO IMAGE | JUMBOTRON SECTION √ ]-------------------------------------- */

/** Section Styling **/
#hero-img-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url(../images/bg-hero-img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: #F5f6fa;
    padding: 250px 40px 150px;
}

/** Section Text **/
.hero-img-text {
    text-align: center;
    margin: auto;
}

/** Section Title **/
.hero-img-text h1 {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 600;
}

/** Section Paragraph **/
.hero-img-text p {
    font-size: 20px;
    letter-spacing: 1px;
}

/** Section CTA Button Position **/
.cta-btn-white {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/** Section CTA Button Styling **/
.cta-btn-white a {
    display: flex;
    text-decoration: none !important;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    background: #F5f6fa;
    color: #000;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 25px 10px 25px;
    margin: 25px 0 15px 0;
    transition: all 0.5s;
    cursor: pointer;
}

/** Section CTA Button Hover Over Effect **/
.cta-btn-white a:hover {
    background: linear-gradient(to right, #4B76E5, #3CBED0);
    color: #fff;
}

/** -----[ Section Responsiveness ]----- **/

@media (max-width:415px) {
    .hero-img-text h1 {
        font-size: 32px;
    }
}

@media (max-width:380px) {
    #hero-img-section {
        padding: 200px 40px 100px;
    }
}

/* ------------------------------------[ ABOUT SECTIONS √ ]-------------------------------------- */

/** Section Styling **/
#about-section {
    background-color: #f3f2ef;
    color: #000;
    box-sizing: border-box;
    line-height: 1.5;
    padding: 80px 40px 70px;
    display: flex;
    align-items: center;
}

/** Container Styling **/
.about-cont-styling {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

/** Grid Styling **/
.about-grid-styling {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-items: center !important;
    justify-content: center !important;
}

/** Section Image (Left Side) **/
.left-side img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/** Right Side Items Spacing **/
.right-side>* {
    margin-bottom: 1.1rem;
}

/** 'Hey there!' Styling **/
.right-side h4 {
    color: #fff;
    font-weight: 500;
    background: #000;
    display: inline-block;
    padding: 10px 21px;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 15px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/** 'Welcome to Produck' & 'Product Management' Styling **/
.right-side h2 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
    letter-spacing: 0.5px;
}

/** Section CTA Button Styling **/
.right-side a {
    display: inline-block;
    text-decoration: none !important;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    background: #4B76E5;
    color: #fff;
    padding: 12px 25px 10px 25px;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 15px;
}

/** CTA Button Hover Over Effect **/
.right-side a:hover {
    background: linear-gradient(to right, #4B76E5, #3CBED0);
    color: #fff;
}

/** -----[ Section Responsiveness ]----- **/

@media (max-width:768px) {
    .about-grid-styling {
        grid-template-columns: 1fr;
    }
}

/* ------------------------------------[ OUR SERVICES SECTION √ ]-------------------------------------- */

/** Section Styling **/
#services-section {
    background: #EDF1FC;
    padding: 80px 50px;
    color: #000;
}

/** Layout Spacing **/
.services-item {
    padding: 0 8px;
}

/** Space Between Intro & Main Content **/
.content-spacing .row {
    margin-top: 40px;
}

/* Spacing Between Services */
.gaps {
    margin-top: 30px;
}

/** Intro Title **/
.blue-title {
    color: var(--color-headings);
}

/** Intro Subtitle **/
.black-subtitle {
    color: var(--color-text);
}

/** Section Icons **/
.services-item i {
    color: #4B76E5;
    font-size: 45px;
    line-height: 45px;
    float: left;
}

/** Icons Spacing **/
.services-single-item {
    margin-left: 70px;
}

/** Section Title **/
.services-heading {
    font-size: 23px;
    letter-spacing: 0.5px;
    position: relative;
    margin-bottom: 8px;
    padding-bottom: 10px;
}

/** Section Paragraphs **/
.services-single-item p {
    font-size: 15px;
    margin-top: 15px;
}

/** Blue Hyphen Symbol **/
.services-heading::after {
    content: '';
    width: 30px;
    height: 3px;
    background: #4B76E5;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* ------------------------------------[ RESPONSIBILITIES SECTION √ ]-------------------------------------- */

/** Section Styling **/
#resp-section {
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    background: #EDF1FC;
    padding: 80px 0 50px;
}

/** Container Styling **/
.resp-cont-styling {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
    grid-gap: 30px;
    width: 80%;
    margin: auto;
}

/** Card Styling **/
.resp-card-styling {
    text-align: center;
    padding: 40px 30px 25px;
    line-height: 1.5;
    background-color: #fff !important;
    border-radius: 30px !important;
    border: none !important;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/** Main Responsibilities **/
.resp-card-styling h3 {
    font-size: 20px;
    margin-top: 20px;
}

/** Section Paragraphs **/
.resp-card-styling p {
    margin-top: 10px;
    font-size: 15px;
}

/** Card Hover Over Effect **/
.resp-card-styling:hover {
    transform: translateY(-10px);
    transition: all 300ms;
}

/** Section Icons **/
.icon-style {
    color: #4B76E5;
    font-size: 65px !important;
}

/** -----[ Section Responsiveness ]----- **/

@media(max-width:1400px) {
    .resp-cont-styling {
        grid-template-columns: repeat(2, 1fr);
    }

    .resp-card-styling {
        padding: 3rem;
    }
}

@media(max-width:900px) {
    .resp-cont-styling {
        grid-template-columns: 1fr;
    }

    .resp-card-styling {
        padding: 2rem;
    }
}

@media(max-width:800px) {
    #resp-section {
        padding: 0 25px;
    }
}

/* ------------------------------------[ PERFECT PM SECTION √ ]-------------------------------------- */

/** Section Styling **/
#areas-section {
    box-sizing: border-box;
    line-height: 1.5;
    background-color: #fff;
    color: #000;
    padding: 80px 20px 80px 20px;
}

/** Space Between Intro & Main Areas **/
.areas-intro-styling {
    margin-bottom: 70px;
}

/** Space Between Areas & Icons **/
.pm-areas-box {
    gap: 20px;
}

/** Space Between Areas **/
.pm-areas-box:not(:first-child) {
    margin-top: 50px;
}

/** Section Titles **/
.pm-areas-content h3 {
    font-size: 22px;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    color: #4B76E5;
}

/** Section Paragraphs **/
.pm-areas-content p {
    font-size: 16px;
    margin: 0;
}

/** Section Icons **/
.pm-areas-icon {
    height: 50px;
    width: 50px;
    background-color: #4B76E5;
    color: #fff;
    font-size: 22px;
    flex-shrink: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/** Section Illustration Alignment **/
.pm-areas-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Section Illustration Styling **/
.pm-areas-img img {
    max-width: 80%;
    margin: 25px 0;
}

/** Section CTA Button Alignment **/
.areas-cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

/** Section CTA Button Styling **/
.areas-cta-btn a {
    text-decoration: none !important;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    background: #4B76E5;
    color: #fff;
    padding: 12px 25px 10px 25px;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.5s;
    cursor: pointer;
}

/** Section CTA Button Hover Over Effect **/
.areas-cta-btn a:hover {
    background: linear-gradient(to right, #4B76E5, #3CBED0);
    color: #fff;
}

/* ------------------------------------[ SOFT SKILLS SECTION √ ]-------------------------------------- */

/** Section Styling **/
#skills-section {
    box-sizing: border-box;
    display: grid;
    height: 100%;
    place-items: center;
    background: #f3f2ef;
    padding: 70px 30px 70px;
}

/** Intro Title Styling **/
.skills-intro-styling {
    margin-bottom: 50px;
}

/** Columns Gap Spacing **/
.gap-spacing {
    column-gap: 20px;
}

/** Columns Styling **/
.skills-centered {
    display: inline-block;
    margin-bottom: 30px;
}

/** Skills Text Stlying **/
.skills-bar .bar .info span {
    font-size: 16px;
    color: #000;
    opacity: 0;
    animation: showText1 0.5s 1s linear forwards;
}

/** Animation **/
@keyframes showText1 {
    100% {
        opacity: 1;
    }
}

/** Skills Card Styling **/
.skills-bar {
    width: 540px;
    background: #fff;
    border-radius: 30px;
    padding: 25px 30px 10px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/** Main Skills Alignment **/
.skills-bar .bar {
    margin: 20px 0;
}

.skills-bar .bar:first-child {
    margin-top: 0px;
}

.skills-bar .bar .info {
    margin-bottom: 5px;
}

/** Bars Styling (Underneath) **/
.skills-bar .bar .progress-line {
    position: relative;
    height: 15px;
    width: 100%;
    background: #e7e8ef;
    border-radius: 30px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
        0px 1px rgba(255, 255, 255, 0.08);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

/** Bars Styling (On Top) **/
.bar .progress-line span {
    height: 100%;
    width: 80%;
    background: linear-gradient(to right, #4B76E5, #3CBED0);
    position: absolute;
    border-radius: 30px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

/** Animation **/
@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

/** -----[ Bars Percentage (Width) ]----- **/

.progress-line.skill-1 span {
    width: 90%;
}

.progress-line.skill-2 span {
    width: 90%;
}

.progress-line.skill-3 span {
    width: 90%;
}

.progress-line.skill-4 span {
    width: 90%;
}

.progress-line.skill-5 span {
    width: 90%;
}

.progress-line.skill-6 span {
    width: 90%;
}

.progress-line.skill-7 span {
    width: 90%;
}

.progress-line.skill-8 span {
    width: 90%;
}

.progress-line.skill-9 span {
    width: 90%;
}

.progress-line.skill-10 span {
    width: 90%;
}

.progress-line.skill-11 span {
    width: 90%;
}

.progress-line.skill-12 span {
    width: 90%;
}

.progress-line.skill-13 span {
    width: 90%;
}

.progress-line.skill-14 span {
    width: 90%;
}

.progress-line.skill-15 span {
    width: 90%;
}

.progress-line.skill-16 span {
    width: 90%;
}

/** Tiny Indicators Tail Styling **/
.bar .progress-line span::before {
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

/** Indicators Styling **/
.bar .progress-line span::after {
    position: absolute;
    right: 0;
    top: -27px;
    color: #f5f6fa;
    letter-spacing: 1px;
    font-size: 13px;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

/** Animation **/
@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

/** -----[ Indicators Percentage (Number) ]----- **/

.progress-line.skill-1 span::after {
    content: "90%";
}

.progress-line.skill-2 span::after {
    content: "90%";
}

.progress-line.skill-3 span::after {
    content: "90%";
}

.progress-line.skill-4 span::after {
    content: "90%";
}

.progress-line.skill-5 span::after {
    content: "90%";
}

.progress-line.skill-6 span::after {
    content: "90%";
}

.progress-line.skill-7 span::after {
    content: "90%";
}

.progress-line.skill-8 span::after {
    content: "90%";
}

.progress-line.skill-9 span::after {
    content: "90%";
}

.progress-line.skill-10 span::after {
    content: "90%";
}

.progress-line.skill-11 span::after {
    content: "90%";
}

.progress-line.skill-12 span::after {
    content: "90%";
}

.progress-line.skill-13 span::after {
    content: "90%";
}

.progress-line.skill-14 span::after {
    content: "90%";
}

.progress-line.skill-15 span::after {
    content: "90%";
}

.progress-line.skill-16 span::after {
    content: "90%";
}

/** -----[ Section Responsiveness ]----- **/

@media (max-width: 1300px) {
    .skills-centered {
        justify-content: center;
        align-items: center;
        display: flex;
    }
}

@media (max-width: 600px) {
    .skills-bar {
        width: 440px;
    }
}

@media (max-width: 500px) {
    .skills-bar {
        width: 305px;
    }

    .skills-bar .bar .info span {
        font-size: 14px;
    }
}

@media (max-width: 360px) {
    .skills-bar {
        width: 260px;
    }

    .skills-bar .bar .info span {
        font-size: 12px;
    }
}

/* ------------------------------------[ RESOURCES SECTION √ ]-------------------------------------- */

/** Section Styling **/
#resources-section {
    padding: 130px 0 50px;
    background: #f3f2ef;
}

/** Main Table **/
.table-wrapper {
    width: 80%;
    background: #fff;
    padding: 20px 30px 5px;
    margin: 70px auto;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 30px;
}

/** Table Filters (Group) **/
.table-wrapper .btn-group {
    float: right;
    margin-top: 5px;
}

/** Table Filters (Individual) **/
.table-banner .btn {
    min-width: 50px;
    border-radius: 30px;
    border: none;
    padding: 4px 12px;
    font-size: 95%;
    outline: none !important;
    height: 30px;
}

/** Black Table Banner **/
.table-banner {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    padding: 15px 30px;
    padding-bottom: 15px;
    padding-top: 20px;
    background: #000;
    margin: -20px -31px 10px;
    color: #fff;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

/** Table Title **/
.table-banner h2 {
    margin: 5px 0 0;
    font-size: 25px;
}

/** Table Layout (Spacing & Color) **/
table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}

/** Table Layout First (Width) **/
table.table tr th:first-child {
    width: 40px;
}

/** Table Layout Last (Width) **/
table.table tr th:last-child {
    width: 70px;
}

/** Table Odd Row Fixed Color **/
table.table-striped tbody tr:nth-last-of-type(odd) {
    background-color: #fff;
}

/** Table Hover Over Effect **/
table.table-striped.table-hover tbody tr:hover {
    background: #E5E5E5;
}

/** Text W/Link (Companies & Founders **/
table.table td .text-wth-link {
    color: #4B76E5;
    text-decoration: none;
}

/** Text W/Link Hover Over Effect **/
table.table td .text-wth-link:hover {
    color: #3CBED0;
}

/** 'Watch' Label **/
.label-watch {
    padding: 3px 8px;
    font-size: 13px;
    background: #DB3545;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/** 'Read' Label **/
.label-read {
    padding: 2px 8px;
    font-size: 13px;
    background: #15A2B8;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/** 'Listen' Label **/
.label-listen {
    padding: 2px 8px;
    font-size: 13px;
    background: #28A745;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/** Tiny Logo **/
.tiny-logo {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/** -----[ Dropdown Button ]----- **/

/** Dropdown Button Position **/
.r-dropdown {
    position: relative;
    display: inline-block;
}

/** Dropdown Button Styling **/
.r-dropbtn {
    background-color: #4B76E5;
    color: white;
    padding: 2px 12px;
    font-size: 13px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/** Dropdown Button Hover Over Effect **/
.r-dropdown:hover .r-dropbtn {
    background-color: #3CBED0;
}

/** Dropdown Content (Hidden by Default) **/
.r-dropcontent {
    display: none;
    position: absolute;
    background-color: #000;
    padding: 5px 0;
    min-width: 100px;
    z-index: 1;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/** List Inside Dropdown **/
.r-dropcontent a {
    color: #fff;
    padding: 2px 12px;
    display: block;
    font-size: 12px;
    text-align: left;
}

/** List Inside Dropdown Hover Over Effect **/
.r-dropcontent a:hover {
    background-color: #fff;
    text-decoration: none;
    color: #000;
}

/** Show Dropdown Menu on Hover Over **/
.r-dropdown:hover .r-dropcontent {
    display: block;
}

/** -----[ Section Responsiveness ]----- **/

@media (max-width: 1200px) {
    .r-number {
        display: none;
    }
}

@media (max-width: 1001px) {
    .table-banner .btn {
        min-width: 5px;
        padding: 10px 10px 25px 10px;
        font-size: 75%;
        border-radius: 30px;
    }
}

@media (max-width: 990px) {
    .r-tag {
        display: none;
    }
}

@media (max-width: 873px) {
    .r-location {
        display: none;
    }

    .table-mobile {
        font-size: 15px;
    }
}

@media (max-width: 847px) {
    .table-banner .btn {
        min-width: 5px;
        padding: 10px 10px 42px 10px;
        border-radius: 10px;
    }
}

@media (max-width: 650px) {
    .r-founders {
        display: none;
    }

    .table-mobile {
        font-size: 14px;
    }
}

@media (max-width: 575px) {
    .table-banner .btn {
        min-width: 5px;
        padding: 10px 10px 25px 10px;
        margin-top: 10px;
        border-radius: 30px;
    }
}

@media (max-width: 445px) {
    .table-mobile {
        font-size: 11px;
    }

    .text-wth-link {
        font-weight: 600;
    }

    .r-dropcontent a {
        font-size: 10px !important;
    }

    .r-dropbtn {
        padding: 4px 8px;
        font-size: 12px;
        border-radius: 15px;
    }

    .r-dropcontent {
        min-width: 90px;
    }
}

@media (max-width: 441px) {
    .table-banner .btn {
        min-width: 5px;
        padding: 10px 10px 42px 10px;
        margin-top: 10px;
        border-radius: 10px;
    }
}

/* ------------------------------------[ TOREADLIST APP SECTION √ ]-------------------------------------- */

/** Section Styling **/
#read-list-section {
    background: #f3f2ef;
    padding: 100px 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Container Styling **/
#todo-container {
    width: 1139px;
    /* up to 10 books */
    height: 800px;
    margin: 70px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(36, 32, 32, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    padding-top: 50px;
    font-size: 15px;
}

/** Projects Frame Styling **/
#projects {
    /* up to 6 categories */
    width: 90%;
    /* up to 10 books */
    height: 470px;
    margin: 0px auto;
}

/** Order List Styling **/
ol {
    margin-left: 15px;
}

/** Order List Items Styling **/
ol li {
    border: 1px dotted #dddddd;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: 5px;
}

/** Order List Items Hover Over Effect **/
ol li:hover {
    background: #eeeeee;
    transform: scale(1.02);
}

/** 'Add New Category' CTA Button **/
#btnAddProject {
    /* FIX THIS POSITIONING (BOTH BUTTONS) */
    margin-left: 81%;
    margin-bottom: 25px;
    background-color: #4B76E5;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    padding: 11px 17px 10px;
    font-size: 13px;
    color: #fff;
}

/** 'Add New Category' CTA Button Hover Over Effect **/
#btnAddProject:hover {
    background: #3CBED0;
}

/** 'Add New Book' CTA Button **/
#btnAddTask {
    /* FIX THIS POSITIONING (BOTH BUTTONS) */
    margin-left: 84%;
    margin-top: 25px;
    background-color: #4B76E5;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    padding: 11px 17px 10px;
    font-size: 13px;
    color: #fff;
}

/** 'Add New Book' CTA Button Hover Over Effect **/
#btnAddTask:hover {
    background: #3caea3;
}

/** ToReadList Categories Bar **/
.ui-widget-header {
    background: #4B76E5 !important;
    border: none !important;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    height: 48px;
}

/** Main Categories Tabs **/
.ui-tabs-tab {
    border-radius: 30px !important;
    border: none !important;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/** Category Tabs Close (X) Symbol **/
.ui-icon-close {
    transform: scale(1.2) !important;
    margin-right: 15px !important;
    margin-top: 10px !important;
    cursor: pointer !important;
}

/** All Internal CTA Buttons (Popups) **/
.ui-dialog-buttonpane button {
    /* Fix all these !important messages */
    font-size: 13px !important;
    color: #fff !important;
    background: #4B76E5 !important;
    border: none !important;
    border-radius: 30px !important;
    padding: 11px 17px 10px !important;
    font-family: Poppins !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/** All Internal CTA Buttons (Pop-Ups) Hover Over Effect **/
.ui-dialog-buttonpane button:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    background: #3CBED0 !important;
}

/** Category Name + Input Section **/
#project-dialog {
    margin-top: 30px;
    margin-bottom: 25px;
}

/** Book Name + Input Section **/
#task-dialog {
    margin-top: 30px;
    margin-bottom: 25px;
}

/** Popup 'Add New Book' & 'Add New Category' Titles **/
.ui-dialog-title {
    color: #fff;
    font-weight: 400;
    font-size: 19px;
}

/** Popup 'Category Name' Label */
.replace-this-name {
    margin-right: 10px;
    font-size: 15px;
}

/** Popup 'Category Name' Input Box **/
#new-project {
    border-radius: 30px;
    /* up to 5 categories */
    width: 130px;
    height: 20px;
    font-size: 15px;
    text-align: center;
}

/** Popup 'Book Name' Input Box **/
#new-task {
    border-radius: 30px;
    width: 250px;
    height: 20px;
    font-size: 15px;
    text-align: center;
}

/** Close (X) Popup Symbol = We Have Cancel **/
.ui-dialog-titlebar-close {
    display: none !important;
}

/** Popup Main Container Styling **/
.ui-dialog {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

/** Popup Bottom Section Styling **/
.ui-dialog-buttonpane {
    border-top: 1px dotted #dddddd !important;
    padding-top: 12px !important;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

/** List Items | Edit & Remove Icons **/
.tasks-edit,
.tasks-delete {
    border: none;
    outline: none;
    background: none;
    margin-right: 7px;
    float: right;
    color: #4B76E5;
}

/** Edit Icon (Pencil) Hover Over Colour **/
.tasks-edit:hover {
    color: #3CBED0;
}

/** Remove Icon (Trash) Hover Over Colour **/
.tasks-delete:hover {
    color: #A90710;
}

/** Book Icon Colour **/
.book-icon {
    color: #4B76E5;
}

/** Book Icon Hover Over Colour **/
.book-icon:hover {
    color: #3CBED0;
}

/** List Items (Book Names) Before & After Space (Sides) **/
.task-text {
    margin-left: 4px;
    margin-right: 20px;
}

/** Book Icon Before & After Space (Sides) **/
.book-icon {
    margin-left: 5px;
    margin-right: 8px;
}

/** JS Checked Item Effect **/
.checked {
    text-decoration: line-through;
    color: #B2B2B2;
}

/** -----[ Section Responsiveness ]----- **/

@media (max-width:960px) {}

/* ------------------------------------[ TOBUYLIST APP SECTION √ ]-------------------------------------- */

/** Section Styling **/
#tobuy-list-section {
    background: var(--bg);
    padding: 100px 40px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Intro Section **/
.tobuy-intro-styling {
    margin: 10px 0 40px;
}

/** Main Form Size **/
#buy-books-form {
    margin: 30px;
}

/** Container Styling **/
.tobuy-cont-styling {
    width: 700px;
    margin: 70px;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    background: var(--bg-panel);
    padding: 40px 0 30px;
}

/** Form Input Titles **/
.form-group {
    color: var(--color-text);
    font-weight: 600;
    font-size: 16px;
}

/** Form Input Icons **/
.icon-styling {
    color: var(--color-headings);
}

/** Form Input Areas **/
#title,
#author,
#rating,
#price,
#isbn {
    border-radius: 8px;
    box-shadow: none;
    margin: auto;
}

/** Form Input Editing Styling **/
#title:focus,
#author:focus,
#rating:focus,
#price:focus,
#isbn:focus {
    color: var(--color-text);
    background: var(--color-buttons);
}

/** 'Add Book' Button Styling **/
.btn-styling {
    background: var(--color-headings);
    border: none;
    outline: none;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    font-size: 16px;
    color: #fff;
    height: 43px;
    margin-top: 30px;
}

/** 'Add Book' Button Hover Over Effect **/
.btn-styling:hover {
    background: var(--color-hover);
    color: #fff;
}

/** Main Table Styling **/
.table-styling {
    width: 95% !important;
    margin: auto;
}

/** 1st Column Size (Book Name) **/
.table-styling .th-title {
    width: 40% !important;
}

/** Table Titles (Header) **/
.title-styling {
    font-weight: 600;
    color: var(--color-text);
    font-size: 16px;
}

/** Table Body Text **/
.table-styling td {
    font-size: 15px;
    color: var(--color-text);
}

/** 'Delete' Icon (X) Styling **/
.delete-styling {
    color: #fff;
    border-radius: 4px !important;
    padding: 2px 8px !important;
}

/** -----[ Section Responsiveness ]----- **/

@media (max-width:550px) {
    #buy-books-form label {
        font-size: 14px;
    }

    .table-styling th,
    .table-styling td {
        font-size: 14px;
    }

    .tobuy-intro-styling h2 {
        font-size: 35px;
    }

    .delete-styling {
        font-size: 10px !important;
        border-radius: 50% !important;
        padding: 1px 5px !important;
    }

    .isbn-mobile {
        display: none;
    }
}

@media (max-width: 450px) {

    .table-styling th,
    .table-styling td {
        font-size: 13px;
    }

    .delete-styling {
        font-size: 8px !important;
        border-radius: 50% !important;
        padding: 1px 5px !important;
    }

    .rating-mobile {
        display: none;
    }
}

/* ------------------------------------[ TORATELIST APP √ ]-------------------------------------- */

/** Section Styling **/
#rating-section {
    background: var(--bg);
    padding: 122px 20px 120px;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
}

/** Intro Title Positioning **/
.rating-intro-styling {
    padding: 50px 0 20px;
}

/** Container Styling **/
.rating-cont-styling {
    background: var(--bg-panel);
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(128, 90, 90, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    height: 800px;
}

/** Container Inner Width **/
.container-inner {
    padding: 0 25px;
}

/** Form Styling **/
.rating-form-styling {
    box-shadow: none !important;
    border-radius: 8px !important;
    margin: auto !important;
}

/** Table Stlying **/
.rating-table-stlying {
    color: var(--color-text) !important;
}

/** Blue Book Icon **/
.rating-book-icon {
    color: var(--color-headings);
    margin-right: 10px;
}

/** Grey Stars (Empty) Position **/
.stars-outer {
    position: relative;
    display: inline-block;
}

/** Grey Stars (Empty) Styling **/
.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "FontAwesome";
    font-weight: 900;
    color: #ccc;
}

/** Yellow Stars (Rated) Position **/
.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

/** Yellow Stars (Rated) Styling **/
.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "FontAwesome";
    font-weight: 900;
    color: #f8ce0b;
}

/* ------------------------------------[ BOOKMARKS APP SECTION √ ]-------------------------------------- */

/** Section Styling **/
#bookmark-section {
    background: var(--bg);
    padding: 100px 40px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Container Styling **/
.bm-cont-styling {
    width: 700px;
    /* up to 10 websites */
    margin: 70px;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    background: var(--bg-panel);
    padding-bottom: 30px;
}

/** Jumbotron Hidden Colour **/
.jumbo-styling {
    background: transparent !important;
}

/** Form Input Styling **/
.bm-input-styling {
    box-shadow: none !important;
    border-radius: 8px !important;
    margin: auto !important;
}

/** 'Submit' Button **/
.bm-btn-styling {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 30px !important;
    color: #fff !important;
    background: var(--color-headings) !important;
}

/** 'Submit' Button Hover Over Effect **/
.bm-btn-styling:hover {
    color: #fff !important;
    background: var(--color-hover) !important;
}

/** Main Bookmarks **/
.results-list h3 {
    margin-bottom: 30px;
    color: var(--color-headings);
}

/** 'Visit Site' Button **/
.results-list .btn-default {
    color: #fff !important;
    background: var(--color-headings) !important;
    border-radius: 30px !important;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    float: right;
    margin-right: 8px;
}

/** 'Visit Site' Button Hover Over Effect **/
.results-list .btn-default:hover {
    color: #fff !important;
    background: var(--color-hover) !important;
}

/** 'Delete' Button **/
.bm-btn-danger {
    color: #fff !important;
    background: var(--color-danger) !important;
    border-radius: 30px !important;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    float: right;
}

/** 'Delete' Button Hover Over Effect **/
.bm-btn-danger:hover {
    color: #fff !important;
    background: var(--color-dhover) !important;
}

/** Bookmarks List **/
.bm-results {
    padding: 0 35px 0;
}

/** -----[ Section Responsiveness ]----- **/

@media (max-width:960px) {
    
    .results-list h3 {
    margin-bottom: 30px;
    color: var(--color-headings);
}
}




























/* ------------------------------------[ CONTACT SECTION ]-------------------------------------- */

/* Section Styling */
#contact-section {
    background: linear-gradient(to right, #4B76E5, #3CBED0);
    color: #F5f6fa;
    padding: 70px 150px 30px;
}

/* Intro Title */
.styling-intro-text h2 {
    margin-bottom: 50px;
}

/* -----[ Column 1 ]----- */

/* Column 1 Title */
.contact-info h2 {
    letter-spacing: 0.5px;
    font-size: 25px;
    margin-top: 12px;
}

/* Column 1 Paragraph */
.contact-info .text {
    margin: 24px 0 32px 0;
    font-size: 15px;
}

.information {
    text-decoration: none;
    color: #F5f6fa;
}

.information a {
    text-decoration: none !important;
    color: #F5f6fa;
}

.information a:hover {
    color: #F5f6fa;
}

/* Column 1 Contact Details */
.contact-information {
    display: flex;
    margin: 5px 0;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
}

/* Column 1 Contact Details Icons */
.contact-information i {
    margin: 0 15px 18px 0;
    height: 35px;
    width: 35px;
    background-color: #f5f6fa;
    color: #4B76E5;
    font-size: 18px;
    border-radius: 5px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/* Follow Me Section */
.social-media {
    padding: 10px 0 15px;
}

/* Social Media Icons */
.social-icons {
    display: flex;
}

/* Social Media Individual Icons */
.social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #F5f6fa;
    color: #4B76E5;
    text-align: center;
    line-height: 35px;
    margin: 0 8px 30px 0;
    box-shadow: 0 4px 10px 0 rgba(128, 90, 90, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    transition: 0.3s;
}

/* Social Media Icons Hover Effect */
.social-icons a:hover {
    transform: scale(1.12);
    color: #4B76E5;
}

/* -----[ Column 2 ]----- */

/* Form Alignment */
.container-fluid .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Center Form */
.center-form {
    margin: auto;
}

/* Inner Form */
.form-control {
    margin: 8px;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/* Form CTA Button */
.contact-btn {
    font-size: 13px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    background-color: #F5f6fa;
    color: #4B76E5;
    border-radius: 30px;
    border: none;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    padding: 12px 25px 10px 25px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px 0 45px;
}

/* Form CTA Button Hover Effect */
.contact-btn:hover {
    background: #000;
    color: #f5f6fa;
}

/* -----[ Section Responsiveness ]----- */

@media (max-width:960px) {

    .contact-info,
    .contact-information,
    .social-icons {
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #F5f6fa;
    }

    #contact-section {
        padding: 70px 50px 30px;
    }
}

@media (max-width:645px) {
    /* Improve the responsiveness */
}

/* ------------------------------------[ FOOTER SECTION ]-------------------------------------- */

/* Section Styling */
.footer-top {
    background-color: #000;
    color: #F5f6fa;
    padding: 50px 0;
}

/* Section Title */
.footer-top h2 {
    font-family: Poppins;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 25px;
}

/* Section Paragraph & Form */
.footer-top p,
form {
    color: #f5f6fa;
    line-height: 20px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
}

/* Column 1 Title Symbol */
.segment-one h2::before {
    content: '|';
    color: #4B76E5;
    padding-right: 5px;
}

/* Column 2 Title Symbol */
.segment-two h2::before {
    content: '|';
    color: #4B76E5;
    padding-right: 5px;
}

/* Column 2 Subtitles Styling */
.segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #f5f6fa;
}

/* Column 2 Subtitles Underline */
.segment-two ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    line-height: 20px;
    width: 160px;
}

/* Column 2 Subtitles */
.segment-two ul li a {
    font-family: Poppins;
    color: #f5f6fa;
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.5s;
    cursor: pointer;
}

/* Column 2 Subtitles Symbol */
.segment-two a::before {
    content: "»";
    margin-right: 10px;
}

/* Column 2 Subtitles Hover Effect */
.segment-two a:hover {
    color: #3CBED0;
}

/* Column 3 Title Symbol */
.segment-three h2::before {
    content: '|';
    color: #4B76E5;
    padding-right: 5px;
}

/* Column 3 Icons Styling */
.segment-three a {
    background: #f5f6fa;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px 0 -2px;
    transition: all 0.5s;
    cursor: pointer;
}

/* Column 3 Icons Background Hover Effects */
.segment-three a:hover {
    background: #3CBED0;
}

/* Column 3 Individual Icons */
.segment-three a i {
    font-size: 18px;
    color: #4B76E5;
    padding: 9px 10px;
}

/* Column 3 Main Icons Hover Effects */
.segment-three a i:hover {
    color: #f5f6fa;
}

/* Column 4 Title Symbol */
.segment-four h2::before {
    content: '|';
    color: #4B76E5;
    padding-right: 5px;
}

/* Newsletter Form Email */
.segment-four form input[type=email] {
    border: none;
    padding: 5px 10px 3px 10px;
    margin: 0 5px 0 -2px;
    color: #000;
    font-size: 10px;
    border-radius: 30px;
}

/* Newsletter Form Submit */
.segment-four form input[type=submit] {
    background: #4B76E5;
    border: none;
    padding: 5px 15px 3px 15px;
    margin-left: -3px;
    color: #f5f6fa;
    font-size: 10px;
    border-radius: 30px;
    transition: all 0.5s;
    cursor: pointer;
}

/* Newsletter Form Submit Hover Effect */
.segment-four form input[type=submit]:hover {
    background: #3CBED0;
    color: #f5f6fa;
    font-weight: 500;
}

/* Footer Bottom Text */
.footer-bottom-text {
    background: #252525;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    line-height: 50px;
    color: #f5f6fa;
    margin-bottom: 0;
}

/* -----[ Section Responsiveness ]----- */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .md-mb-30 {
        margin-bottom: 35px;
    }
}

@media only screen and (max-width: 767px) {
    .sm-mb-30 {
        margin-bottom: 35px;
        margin-right: 15px;
        margin-left: 15px;
    }

    .footer-top {
        padding-top: 60px;
        padding-bottom: 25px;
    }
}

/* ------------------------------------[ LEADERS SECTION √ ]-------------------------------------- */

/** Section Styling **/
#experts-section {
    padding-top: 130px;
    padding-bottom: 110px;
    background: #EDF1FC;
    box-sizing: none;
}

/** Intro Section Styling **/
.leaders-intro-styling {
    line-height: 1.5;
    width: 90%;
    margin: auto;
}

/** Intro Title Styling **/
.section-main-title {
    margin-bottom: 30px;
}

/** Card Styling & Spacing **/
.industry-experts {
    padding: 20px 15px 30px;
    background: #fff;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    margin-top: 40px;
}

/** Industry Experts Image Section **/
.industry-experts .expert-img {
    display: inline-block;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
    transition: all 0.5s ease 0s;
}

/** Industry Experts Image Section Hover Over Effect **/
.industry-experts:hover .expert-img {
    background: #4B76E5;
    border-radius: 50%;
}

/** Industry Experts Image Styling **/
.expert-img img {
    width: 100%;
    height: 50%;
    border-radius: 50%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/** Industry Experts Name **/
.expert-name {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #4B76E5;
    margin: 0 0 7px 0;
}

/** Industry Experts Role **/
.expert-role {
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}

/** Section Social Media **/
.leaders-social {
    padding: 0;
    margin: 0;
    list-style: none;
}

/** Social Media Channels **/
.leaders-social li {
    display: inline-block;
    margin-right: 4px;
}

/** Social Media Icons & Links **/
.leaders-social li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #4B76E5;
    border: 1px solid #4B76E5;
    transition: all 0.5s ease 0s;
    text-decoration: none;
}

/** Social Media Hover Over Effect **/
.industry-experts:hover .leaders-social li a {
    background: #4B76E5;
    color: #fff;
}

/** -----[ Section Responsiveness ]----- **/

@media only screen and (max-width: 900px) {
    .industry-experts {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 575px) {
    .leaders-cont-styling {
        padding-right: 40px !important;
        padding-left: 40px !important;
    }
}

/* ------------------------------------[ RECOMMENDED BOOKS √ ]-------------------------------------- */

/** Section Styling **/
#books-section {
    background: #EDF1FC;
    padding-top: 130px;
    padding-bottom: 40px;
    color: #434343;
}

/** Grid Styling **/
.books-grid-styling {
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    justify-content: center;
    align-items: center;
}

/** Card Container **/
.books-grid-styling>article {
    background-color: #fff;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
    text-align: left;
    width: 255px;
    transition: transform 0.3s;
    padding: 20px;
}

/** Card Container Hover Over Effect **/
.books-grid-styling>article:hover {
    transform: translateY(-10px);
    transition: all 300ms;
}

/** Book Cover (Image) **/
.books-grid-styling>article img {
    width: 100%;
    border-radius: 30px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/** Book Main Information **/
.book-text-styling {
    padding: 30px 10px 25px;
}

/** Book Information - Title (Official Size) **/
.book-text-styling h3 {
    font-size: 20px;
    font-weight: 600;
    color: #4B76E5;
}

/** Book Information - Title (Alternative Size) **/
.book-text-styling .b-sm-title {
    font-size: 18.8px;
}

/** Book Information - Subtitle (Official Size) **/
.book-text-styling .b-subtitle {
    font-size: 15px;
    color: #000;
}

/** Book Information - Subtitle (Alternative Size) **/
.book-text-styling .b-sm-subtitle {
    font-size: 12.8px;
    color: #000;
}

/** Book Information - Author (Official Size) **/
.b-author {
    font-size: 15px;
    color: #000;
}

/** Book Information - Author (Hover Over Effect) **/
.b-author:hover {
    color: #4B76E5 !important;
    text-decoration: none !important;
}

/** Book Additional Information **/
.card-stats {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 10px;
    background: #4B76E5;
    text-align: center;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
}

/** Book Additional Information - Stats **/
.card-stats .stat1,
.stat2,
.stat3 {
    padding: 10px;
}

/** Value & Type Text Size **/
.card-stats .value,
.type {
    font-size: 12px;
}

/** Additional Info External Link **/
.b-link {
    color: #fff;
}

/** Additional Info External Link (Hover Over Effect) **/
.b-link:hover {
    color: #fff;
    text-decoration: none !important;
}

/** Hover Over Effect - Rating **/
.stat1:hover {
    background: #3CBED0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

/** Hover Over Effect - Ratings **/
.stat2:hover {
    background: #3CBED0;
}

/** Hover Over Effect - Published **/
.stat3:hover {
    background: #3CBED0;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

/** White Lines in Between Stats **/
.stat2 {
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
}

/** -----[ Section Responsiveness ]----- **/

@media (max-width: 1200px) {
    .books-grid-styling {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .books-grid-styling {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 620px) {
    .books-grid-styling {
        grid-template-columns: repeat(1, 1fr);
    }
}